@mixin media-lg {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin media-md {
  @media only screen and (max-width: 860px) {
    @content;
  }
}

@mixin media-sm {
  @media only screen and (max-width: 620px)  {
    @content;
  }
}

@mixin media-xs {
  @media only screen and (max-width: 400px) {
    @content;
  }
}