.page-not-found {
  font-size: 48px;
  color: grey;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
}
.page-not-found-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  justify-items: center;
}
