.header-container {
  display: flex;
  width: 90%;
  margin: 3rem auto;
  margin-bottom: 0;
  border-bottom: 6px solid #000000;
}
.title {
  font-size: 2.5rem;
  flex-grow: 1;
}
.dropdown-prodList {
  margin-top: 15px;
}
.dropdown-prodList select {
  width: 225px;
  height: 30px;
  font-size: 1.3rem;
}
.button-prodList {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.button-prodList input {
  width: 100px;
  height: 30px;
}
.main-container-prodList {
  width: 90%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 30px;
}
.product-container {
  height: 200px;
  font-size: 1.5rem;
  border-color: $border-color;
  border-style: solid;
  text-align: center;
}
.checkbox-container{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 80%;
}
.product-item {
  padding-top: 2px;
}
.no-products-added {
  grid-column-start: span 4;
  font-size: 48px;
  color: grey;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}