.button-prodAdd {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.button-prodAdd input {
  width: 100px;
  height: 30px;
}
.baseAttribute-container {
  width: 22%;
  margin-left: 6rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
}
.baseAttribute-container label {
  font-size: 1.5rem;
  padding-right: 10px;
}
.baseAttribute-container input {
  width: 200px;
  margin-right: 100px;
  height: 25px;
}
.baseAttribute-container select {
  width: 150px;
  height: 25px;
}
.baseAttribute-item {
  padding-bottom: 20px;
}
.TypeSwitcher-Container {
  width: 22%;
  margin-left: 6rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
}
.TypeSwitcher-Container label {
  font-size: 1.5rem;
  padding-right: 10px;
}
.TypeSwitcher-Container input {
  width: 200px;
  margin-right: 100px;
  height: 25px;
}
.specialAttribute-item {
  padding-bottom: 10px;
}
.ErrorMessage {
  background-color: $error-color;
  display: block;
}
.dvd-container {
  display: block;
}
.book-container {
  display: block;
}
.furniture-container {
  display: block;
}