@include media-lg {
  .main-container-prodList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@include media-md {
  .main-container-prodList {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .title {
    font-size: 2rem;
    margin-top: 10px;
  }
  .dropdown-prodList select {
    width: 175px;
    height: 30px;
    font-size: 1rem;
  }
  .button-prodList button {
    width: 80px;
    height: 30px;
  }
}

@include media-sm {
  .main-container-prodList {
    grid-template-columns: 1fr 1fr;
  }
  .title {
    font-size: 1.3rem;
    margin-top: 15px;
  }
  .dropdown-prodList select {
    width: 150px;
    height: 30px;
    font-size: 0.9rem;
  }
  .button-prodList input {
    width: 80px;
    height: 30px;
    font-size: 10px;
  }
  .submitButton-prodAdd button {
    width: 80px;
    height: 80%;
    font-size: 0.9rem;
  }
  .baseAttribute-container {
    margin-left: 8rem;
  }
  .TypeSwitcher-Container {
    margin-left: 8rem;
  }
}

@include media-xs {
  .main-container-prodList {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 1rem;
    margin-top: 20px;
  }
  .dropdown-prodList select {
    width: 125px;
    height: 30px;
    font-size: 0.7rem;
  }
  .button-prodList input {
    width: 60px;
    height: 20px;
    font-size: 8px;
  }
  .button-prodAdd input {
    width: 60px;
    height: 20px;
  }
  .no-products-added {
    font-size: 32px;
  }
  .baseAttribute-container {
    margin-left: 3rem;
  }
  .TypeSwitcher-Container {
    margin-left: 3rem;
  }
}
